body {
    font-family: 'Space Grotesk';
}

h1 {
    margin-top: -0.25em;
    margin-bottom: -0.1em;
}

h3 {
    font-size: 3em;
    margin-left: 3%;
    margin-right: 3%;
}

p {
    font-size: 1.5em;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

img {
    margin-left: 3%;
    margin-right: 3%;
}

.square1 {
    height: 50px;
    width: 50px;
    background-color: #fd00fb;
    position: fixed;
    top: 8%;
  }

.square2 {
    height: 50px;
    width: 50px;
    background-color: #01ff00;
    position: fixed;
    top: 12%;
    left: 5%;
  }

.square3 {
    height: 50px;
    width: 50px;
    background-color: #02feff;
    position: fixed;
    bottom: 13%;
    right: 6%;
  }

.square4 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    bottom: 9%;
    right: 10%;
  }

.square5 {
    height: 50px;
    width: 50px;
    background-color: #0301fc;
    position: fixed;
    bottom: 50%;
    right: 40%;
  }

  .square6 {
    height: 50px;
    width: 50px;
    background-color: black;
    position: fixed;
    bottom: 60%;
    right: 65%;
  }

  p.credit {
    font-size: 1.2em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

.button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    width: 25%;
    cursor: pointer;
  }